pkgbase = konokashi
	pkgdesc = Local-first synchronized multilingual lyrics for Linux MPRIS players
	pkgver = 0.1.0beta1
	pkgrel = 1
	url = https://github.com/myonctl/KonoKashi
	arch = any
	license = PolyForm-Noncommercial-1.0.0
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = hicolor-icon-theme
	depends = python>=3.11
	depends = pyside6>=6.8.2
	depends = python-cutlet>=0.5.2
	depends = python-fugashi>=1.5.2
	depends = python-httpx>=0.28.1
	depends = python-mutagen>=1.47
	depends = python-pypinyin>=0.55
	depends = python-pyicu>=2.16.2
	depends = python-textual>=8.2.8
	depends = python-tomlkit>=0.15.1
	depends = python-unidic-lite>=1.0.8
	optdepends = playerctl: optional MPRIS debugging
	optdepends = pipewire: optional audio timing diagnostics
	source = konokashi-0.1.0b1.tar.gz::https://github.com/myonctl/KonoKashi/releases/download/v0.1.0-beta.1/konokashi-0.1.0b1.tar.gz
	sha256sums = c0727503df631741a1ebe1d8cdb1836363eb727c1930fea0e4ce921b327734d8

pkgname = konokashi
